body{
    display: flex;
    flex-direction: column;
    margin-right: 180px;
    margin-left: 180px;
    margin-top: 0;
}

h4{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 20px
}

/* Header edits start here */

.header{
    margin-left: 30px;
    margin-right: 30px;
}

#header-p{
    font-size: 18px;
    margin: 0;
    color: #F9FAF8;
}

#header-button{
    background-color: #3882E6;
    color: #F9FAF8;
    border-color: transparent;
    padding: 5px;
    border-radius: 10px;
    width: 100px;
}

.header p{
    color: #F9FAF8;
    font-size: 24px;
}

.header ul{
    color: #F9FAF8;
    font-size: 18px;
}


.header-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 600px;
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content-container{
    flex: 1;
    display: flex;
}

.header-content{
    flex: 1;
    margin: 80px;
    display: flex;
    flex-direction: row;
}

.header-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-img{
    border: 3px solid #F9FAF8;
    flex: 1;
}

/* Header edits end here*/

.info-container{
    border: 3px solid red;
    height: 300px;
}

.quote-container{
    border: 3px solid green;
    height: 300px;
}

.sign-up-container{
    border: 3px solid purple;
    height: 300px;
}

.footer-container{
    border: 3px solid black;
    height: 300px;
}