body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header-container{
    border: 3px solid blue;
    height: 100px;
}

.info-container{
    border: 3px solid red;
    height: 100px;
}

.quote-container{
    border: 3px solid green;
    height: 100px;
}

.sign-up-container{
    border: 3px solid purple;
    height: 100px;
}

.footer-container{
    border: 3px solid black;
    height: 100px;
}